.navbar{
    background:rgb(255, 102, 255);
    color:green;
}

.navbar .navbar-header .navbar-brand{
    
    color:white;
}

.navbar .nav li a{
    
    color:white;
    font-size:18px;
   
    
}


