.navbar{
    background:rgb(0, 51, 102);
    color:green;
}

.navbar .navbar-header .navbar-brand{
    
    color:white;
}

.navbar .nav li a{
    
    color:white;
    font-size:18px; 
    background:black;
    
}


