<% include partials/header %>
<style>
    
    .posab{
        display:inline-block;
    }
    .moveleft{
        padding-left:20px;
    }
    
</style>

<% for(i=0; i<allcustomers.length;i++){%>
    <div class="moveleft">
    <h3><%=allcustomers[i].id%>-<%=allcustomers[i].name%></h3>
    <div class="posab">
        <a href="/customers/<%=allcustomers[i]._id%>" class="btn btn-primary btn-sm">Show</a>
    </div>
    <div class="posab">
        <form action="/customers/<%= allcustomers[i]._id %>?_method=DELETE" method="POST">
        <button class="btn btn-primary btn-sm">Delete</button>
        </form>
    </div></br></br></br>
</div>
<%}%>
<% include partials/footer %>