

<% include partials/header %>
	
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<style>
    .btn-block{
        background:rgb(0, 204, 68);
    }
    .btn-block:hover{
        background:rgb(0, 179, 60);
    }
    p {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid rgb(255, 204, 204); 
   line-height: 0.1em;
   margin: 10px 0 20px; 
} 

p span { 
    background:#fff; 
    padding:0 10px; 
    color:rgb(0, 153, 153);
    font-size:12px;
}
.signup{
        background:rgb(179, 255, 240);
        text-align:center;
        
    }
    .signup:hover{
        background:rgb(191, 191, 191);
    }
    img { 
    display: inline-block;
}
.fitpro{
    padding:2%;
   border:0.5px solid rgb(255, 204, 204);
   margin:0 auto;
   margin-top:5%;
    
}

span{
    padding-left:100px;
}

span a:hover{
    color:green;
}


    

</style>
</head>
<body>

<div class="fitpro" style="width: 25%;">
					<h5 style="color:red;"><%= forgotError %></h3>
    				<h5 style="color:blue;"><%= forgotSuccess %></h3>
                    	<h2>Forgot Password</h2>
                    <form action="/forgot" method="POST">
                    
                        <div class="form-group">
                        	<label for="email">Email</label>
                            <input class="form-control" type="email" name="username" placeholder="New password"  style="height:30px;">
                        </div>
                        </br>
                        <div class="form-group">
                            <input class=" btn btn-block" style="height:30px; padding:0; color:rgb(26, 26, 26); font-size:12px; border:1px solid rgb(105, 105, 105);" type="submit" value="Reset Password">
                        </div>
                    </form>
                    
</div>              

<% include partials/footer %> 
