<% include partials/header %>
<h3 style="color:blue;"><%= message %></h3>
<div class="row" style="text-align:center; margin:0 0">
       
     <div class="col-lg-6">           
                
            	<form action="/books" method="GET" class="form-inline">
            		<div>
            			<input type="text" name="search" placeholder="Search a Book" class="form-control" style="width:50%;" >
            			<input type="submit" value="Search" class="btn btn-default">
            		</div>
            	</form>
        </div>    	
        <div class="col-lg-6">    	
            	<form action="/customers" method="GET" class="form-inline">
            		<div>
            			<input type="text" name="search" placeholder="Search Customers" class="form-control" style="width:50%;" >
            			<input type="submit" value="Search" class="btn btn-default">
            		</div>
            	</form>
        </div>
</div>   
<% include partials/footer %>