<% include partials/header %>
<h3 style="color:blue;"><%= message %></h3>

       
                
                <div class="row">
                    <div class="col-lg-12" style="text-align:center;margin-top:15%">
                    <p>
            	<form action="/books" method="GET" class="form-inline">
            		<div>
            			<input type="text" name="search" placeholder="Campground search..." class="form-control" style="width:50%;" >
            			<input type="submit" value="Search" class="btn btn-default">
            		</div>
            	</form>
            </p>
                </div>
                </div>
<% include partials/footer %>