<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheet/app.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
        <style>
            .btn-block{
                background:rgb(0, 204, 68);
            }
            .btn-block:hover{
                background:rgb(0, 179, 60);
            }
           
        
        p span { 
            background:#fff; 
            padding:0 10px; 
            color:rgb(0, 153, 153);
        }
        .signup{
                background:rgb(179, 255, 240);
                text-align:center;
            }
            .signup:hover{
                background:rgb(191, 191, 191);
            }
            img { 
            display: inline-block;
        }
        .fitpro{
            padding:2%;
           border:0.5px solid rgb(255, 204, 204);
           margin:0 auto;
           margin-top:5%;
            
        }
        
        span{
            padding-left:100px;
        }
        
        span a:hover{
            color:green;
        }
        p{
            font-size:12px;
        }
            
        
        </style>
       
</head>
<body>
    
    

<div class="fitpro" style="width: 25%;">
                    
                        <% for(i=0;i<message.length;i++){%>
                            <p style="color:grey; padding:0; margin:0;"><%= message[i].msg %></p>
                        <% } %>
                        
                       <p><%= mes %></p>
                     
                    
    
                    <h2 style="margin-top:0;">Create Account</h2>
                    <form action="/register" method="POST">
                         <label>First Name</label>
                        <div class="form-group">
                            <input class="form-control" type="text" name="firstname"  style="height:30px;">
                        </div>
                         <label>Last Name</label>
                        <div class="form-group">
                            <input class="form-control" type="text" name="lastname"  style="height:30px;">
                        </div>
                        <label>Email id</label>
                        <div class="form-group">
                            <input class="form-control" type="email" name="username"  style="height:30px;">
                        </div>
                        
                        <label>Password</label>
                        <div class="form-group">
                            <input class="form-control" type="password" name="password"  style="height:30px;" placeholder="at least 6 charecters">
                        </div>
                        <p><span class="glyphicon glyphicon-pencil"></span>passwords must be at least 6 charecters!!</p>
                        <div class="form-group">
                            <label>Re Enter Password</label>
                            <input class="form-control" type="password" name="confirmpassword" style="height:30px;">
                        </div>
                        </br>
                        <div class="form-group">
                            <input class=" btn btn-block" style="height:30px; padding:0; color:rgb(26, 26, 26); font-size:12px; border:1px solid rgb(105, 105, 105);" type="submit" value="Sign up">
                        </div>
                    </form></br>
                   
</div>              


<% include partials/footer %> 
