<% include partials/header %>

<h3>Customer Name:<%=fcustomer.name  %></h3>
<h3>Customer Id:<%=fcustomer.id  %></h3></br></br></br>
<h2>Book's Taken:</h2>

<%if(fcustomer.books.length===0){%>
<p>No books taken at the moment</p>
<%}%>


<%for(i=0; i<fcustomer.books.length; i++){ %>
<p><%=i+1 %>-<%= fcustomer.books[i].name %></p>
<%}%>


<a class="btn btn-primary" href="#">Checkout a Book</a>

<% include partials/footer %>

<!--if(condition){
    statement 1
}else{
    for(condition 2){
        statement 2    
    }
}
